<Configuration>
  <Database>
    <Host>%DB_HOST%</Host>
    <Port>%DB_PORT%</Port>
    <Username>%DB_USERNAME%</Username>
    <Password>%DB_PASSWORD%</Password>
    <Name>%DB_NAME%</Name>
  </Database>
  <Opal>
    <Host>%OPAL_HOST%</Host>
    <Port>%OPAL_PORT%</Port>
    <Username>%OPAL_USERNAME%</Username>
    <Password>%OPAL_PASSWORD%</Password>
    <Timeout>%OPAL_TIMEOUT%</Timeout>
  </Opal>
  <Path>
    <ImageData>%IMAGEDATA_PATH%</ImageData>
  </Path>
</Configuration>
